extends ../layout/index

block content
    section(class="bg-gradient-to-r from-indigo-500 via-blue-500 to-purple-400 p-4 border border-black rounded-lg") 
     div(class="py-1")   
      h1(class="text-center text-2xl font-extrabold")=pagina
    section(class="border border-black p-3 mt-4 grid grid-cols-3 gap-3 grid-flow-row w-full ") 
     div(class = "m-8 mx-auto max-w-md shadow shadow-black rounded-lg p-2 hover:bg-indigo-700 hover:text-white")
       h1(class="text-center text-xl font-extrabold cursor-default") Play the game of Stop now Online !, exercise the brain and have lots of fun
       img(src="../public/img/brain.svg", alt="brain", class="w-1/2 mx-auto self-center ")
     div(class = "m-8 mx-auto max-w-md shadow shadow-black rounded-lg p-2 hover:bg-indigo-700 hover:text-white")  
       h1(class="text-center text-xl font-extrabold cursor-default") Enjoy this game with your friends, family or colleagues
     div(class = "m-8 mx-auto max-w-md shadow shadow-black rounded-lg p-2 hover:bg-indigo-700 hover:text-white")  
       h1(class="text-center text-xl font-extrabold cursor-default") Test your general knowledge about citys, countries, capitals and more
    div(class = "m-8 mx-auto rounded-lg border border-black px-4 py-2 hover:bg-indigo-700 hover:text-white")
      h1(class="text-center  text-xl font-extrabold cursor-default ") What is the game of Stop ?
      p(class=" text-center font-normal cursor-default") Stop is a game of questions and answers, where you have to answer the questions correctly to continue playing, if you answer incorrectly you have to stop and the next player can continue playing. The game ends when one of the players has answered all the questions correctly.
    section(class= "m-8")
        div(class="mx-auto shadow-lg rounded-lg border border-black bg-white bg-opacity-40")
         h1(class="text-center text-2xl font-extrabold cursor-default mt-1 text-black ") These Are the Categories in Which Your Knowledge Will Be Put to the Test 
         div(class="m-2 p-6 flex flex-1 justify-around gap-6 ")
          div(class="text-center font-bold hover:text-white hover:bg-indigo-700 transition-colors duration-300 ease-in-out cursor-default") City 
          div(class="text-center font-bold hover:text-white hover:bg-indigo-700 transition-colors duration-300 ease-in-out cursor-default") Country
          div(class="text-center font-bold hover:text-white hover:bg-indigo-700 transition-colors duration-300 ease-in-out cursor-default") Color
          div(class="text-center font-bold hover:text-white hover:bg-indigo-700 transition-colors duration-300 ease-in-out cursor-default") Animal
          div(class="text-center font-bold hover:text-white hover:bg-indigo-700 transition-colors duration-300 ease-in-out cursor-default") Fruit
    footer(class=" py-4")
     div(class="mx-auto max-w-4xl text-center text-black")
        p(class="text-sm mb-2")
            | Follow us on 
            a(class="text-blue-700  hover:text-black transition-colors duration-300 ease-in-out", href="#") Facebook, 
            a(class="text-blue-700 hover:text-black transition-colors duration-300 ease-in-out", href="#") Twitter, 
            | and 
            a(class="text-blue-700 hover:text-black transition-colors duration-300 ease-in-out", href="#") Instagram.
        p(class="text-sm")
            | © 2023 The Game of Stop. All rights reserved.
