extends ../layout/index

block content
    section(class="bg-gradient-to-r from-indigo-500 via-blue-500 to-purple-400 p-4") 
     div(class="py-5")   
      h1(class="text-center text-2xl font-extrabold")=pagina
    section(class="p-2")
     input(type="button", value="create room", class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded")
     input(type="text", placeholder="room name", class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded")
       