extends ../layout/index

block content
  div(class="mt-8 mx-auto max-w-md shadow shadow-black rounded border border-black")
    div(class=" bg-white py-6 px-4")
     form(method="" action="" autocomplete="off" novalidate )
      input(type="hidden" name="_csrf" value=csrfToken)
      div(class="grid grid-cols-3 grid-rows-2 gap-2")
        div(class="form-field col-span-1 row-span-1")
          label(for="city" class="block text-sm uppercase text-gray-400 mb-2 font-bold") City
          input#name(type="text" placeholder="City" name="city" class="w-full border border-gray-400 p-2 rounded mb-4 shadow shadow-black focus:outline-none focus:ring-2 focus:placeholder:text-black focus:bg-gradient-to-r from-pink-400 to-purple-500")
        div(class="form-field col-span-1 row-span-1")
          label(for="country" class="block text-sm uppercase text-gray-400 mb-2 font-bold") Country
          input#email(type="text" placeholder="Country" name="country" class="w-full border border-gray-400 p-2 rounded mb-4 shadow shadow-black focus:outline-none focus:placeholder:text-black focus:bg-gradient-to-r from-pink-400 to-purple-500")
        div(class=" form-field col-span-1 row-span-1")
          label(for="fruit" class="block text-sm uppercase text-gray-400 mb-2 font-bold") Fruit
          input#password(type="text" placeholder="Fruit" name="fruit" class="w-full border border-gray-400 p-2 rounded mb-4 shadow shadow-black focus:outline-none  focus:placeholder:text-black focus:bg-gradient-to-r from-pink-400 to-purple-500")
        div(class="form-field col-span-1 row-span-1")
          label(for="color" class="block text-sm uppercase text-gray-400 mb-2 font-bold") Color
          input#password(type="text" placeholder="Color" name="color" class="w-full border border-gray-400 p-2 rounded mb-4 shadow shadow-black focus:outline-none  focus:placeholder:text-black focus:bg-gradient-to-r from-pink-400 to-purple-500")
        div(class="col-span-1 row-span-1 form-field")
          label(for="animal" class="block text-sm uppercase text-gray-400 mb-2 font-bold") Animal
          input#password(type="text" placeholder="Animal" name="animal" class="w-full border border-gray-400 p-2 rounded mb-4 shadow shadow-black focus:outline-none  focus:placeholder:text-black focus:bg-gradient-to-r from-pink-400 to-purple-500")
        div(class="col-span-1 row-span-1 form-field")
          label(for="song" class="block text-sm uppercase text-gray-400 mb-2 font-bold") Song
          input#password(type="text" placeholder="Song" name="song" class="w-full border border-gray-400 p-2 rounded mb-4 shadow shadow-black focus:outline-none  focus:placeholder:text-black focus:bg-gradient-to-r from-pink-400 to-purple-500")
        div(class="w-full col-span-3 row-span-1 py-2")
         input(type="submit" value="Send responses" class="w-full cursor-pointer border border-black rounded text-white bg-gradient-to-r from-pink-400 to-purple-500 hover:from-pink-500 hover:to-purple-600 active:bg-white active:text-black")