header(class="bg-gradient-to-r from-indigo-500 via-blue-500 via-pink-500 to-purple-400  p-4")
  div(class="container mx-auto flex justify-between items-center")
    h1(class="text-4xl font-extrabold text-white") Stop
      span(class="font-normal text-black") Game
    nav(class="my-2 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
      a(href="/home" class="text-white font-bold text-xl mx-4 hover:text-black") Home
      if user 
        a(href="/lobby" class="text-white font-bold text-xl mx-4 hover:text-black") Lobby
        a(href="/logout" class="text-white font-bold text-xl mx-4 hover:text-black") Logout
        div(class="text-white bg-slate-400 font-bold text-xl mx-4 hover:text-black border border-black rounded-lg p-2 flex flex-1 justify-between")
          img(class="h-8 w-8 mx-auto my-auto self-center" src="../img/users.svg" alt="user")
          a(href="/profile" class="text-xl font-extrabold text-gray-300 text-center mx-2")= username
      else
        a(href="/login" class="text-white font-bold text-xl mx-4 hover:text-black") Login
        a(href="/registro" class="text-white font-bold text-xl mx-4 hover:text-black") Register