doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Stop Game | #{title}	
    link(rel="stylesheet", href="/css/style.css")
  body.bg-gray-200
     include header
     main.container.mx-auto.mt-20
      block content
  
